<!doctype html>
<html>
    <head>
        <title>Anime Episodes</title>
        <link rel="stylesheet" href="../css/combinedAllEpisodes.min.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">Home</a>
                <span class="navDivider">|</span>
                <a href="blog.html">Blog</a>
                <span class="navDivider">|</span>
                <a href="runningLog.html">Running</a>
                <span class="navDivider">|</span>
                <a href="animeHome.html">Anime</a>
                <span class="navDivider">|</span>
                <a href="pokemonHome.html">Pokemon Stats</a>
                <span class="navDivider">|</span>
                <a href="fifa.html">Fifa</a>
                <span class="navDivider">|</span>
                <a href="tourneyHome.html">Tournament</a>
        </header>
        <main>
            <div class="animeBackButtonDiv">
                <a href="animeSeasons.html"><button class="newPostButton backButton">Back</button></a>
                <button class="newPostButton backButton" onclick="allEpisodeObj.sortByRating()">Sort</button>
            </div>
            <ul class="episodeList" id="episodeList">
            </ul>
        </main>
        <script src="../js/combinedAllEpisodes.min.js"></script>
    </body>
</html>