<!doctype html>
<html>
    <head>
        <title>Anime Seasons</title>
        <link rel="stylesheet" href="../css/combinedAnimeSeasons.min.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">Home</a>
                <span class="navDivider">|</span>
                <a href="blog.html">Blog</a>
                <span class="navDivider">|</span>
                <a href="runningLog.html">Running</a>
                <span class="navDivider">|</span>
                <a href="animeHome.html">Anime</a>
                <span class="navDivider">|</span>
                <a href="pokemonHome.html">Pokemon Stats</a>
                <span class="navDivider">|</span>
                <a href="fifa.html">Fifa</a>
        </header>
        <main>
            <div class="animeBackButtonDiv">
                <a href="animeHome.html"><button class="newPostButton backButton">Back</button></a>
                <a href="allEpisodes.html"><button class="newPostButton viewAllEpisdoesButton">View All Episodes</button></a>
            </div>
            <section class="heading">
                <h1 id="animeTitle"></h1>
                <button id="newCreateSeasonButton" class="newPostButton" onclick="seasonObj.showCreate()">New Season</button>
                <div class="insertPost" id="createSeason">
                    <h2>Insert Season</h2>
                    <form onsubmit="seasonObj.createOnPage(); return false;">
                        <table class="createForm">
                            <tbody>
                                <tr>
                                    <td><label>Name:&nbsp;</label></td>
                                    <td><input type="text" placeholder="Name" id="seasonName" required></td>
                                </tr>
                                <tr>
                                    <td><label>Image:&nbsp;</label></td>
                                    <td><input type="text" id="seasonPicture" placeholder="Image Name" required></td>
                                </tr>
                                <tr>
                                    <td><label>Description:&nbsp;</label></td>
                                    <td><textarea id="seasonDescription"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="submitPostButton" type="button" onclick="seasonObj.createOnPage()">Create</button>
                        <button type="button" class="submitPostButton" onclick="seasonObj.hideCreate()">Cancel</button>
                    </form>
                </div>
                <div class="insertPost" id="createEpisode">
                    <h2>Insert Episode</h2>
                    <form onsubmit="episodeObj.createOnPage(); return false;">
                        <table class="createForm">
                            <tbody>
                                <tr>
                                    <td><label>Number:&nbsp;</label></td>
                                    <td><input type="text" placeholder="Number" id="episodeNumber" required></td>
                                </tr>
                                <tr>
                                    <td><label>Title (US):&nbsp;</label></td>
                                    <td><input type="text" placeholder="Title" id="episodeUTitle" required></td>
                                </tr>
                                <tr>
                                    <td><label>Title (Japan):&nbsp;</label></td>
                                    <td><input type="text" placeholder="Title" id="episodeJTitle" required></td>
                                </tr>
                                <tr>
                                    <td><label>Order:&nbsp;</label></td>
                                    <td><input type="text" placeholder="Order" id="episodeOrder" required></td>
                                </tr>
                                <tr>
                                    <td><label>Date Aired:&nbsp;</label></td>
                                    <td><input type="date" id="dateAired" required></td>
                                </tr>
                                <tr>
                                    <td><label>Image:&nbsp;</label></td>
                                    <td><input type="text" id="episodePicture" placeholder="Image Name" required></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="submitPostButton" type="button" onclick="episodeObj.createOnPage()">Create</button>
                        <button type="button" class="submitPostButton" onclick="episodeObj.hideCreate()">Cancel</button>
                    </form>
                </div>
            </section>
            <div id="accordion">
            </div>
        </main>
        <script src="../js/combinedAnimeSeasons.min.js"></script>
    </body>
</html>