<!doctype html>
<html>

    <head>
        <title>Pokemon Stats</title>
        <link rel="stylesheet" href="../css/combinedPokemonHome.min.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">Home</a>
                <span class="navDivider">|</span>
                <a href="blog.html">Blog</a>
                <span class="navDivider">|</span>
                <a href="runningLog.html">Running</a>
                <span class="navDivider">|</span>
                <a href="animeHome.html">Anime</a>
                <span class="navDivider">|</span>
                <a href="pokemonHome.html">Pokemon Stats</a>
                <span class="navDivider">|</span>
                <a href="fifa.html">Fifa</a>
            </nav>
        </header>
        <main ng-app="pokemonApp" ng-controller="DisplayController">
            <ng-include src="currentPage"></ng-include>
            <script src="../js/combinedPokemonHome.min.js"></script>
        </main>
    </body>
</html>