<!doctype html>
<html>

    <head>
        <title>Anime Home</title>
        <link rel="stylesheet" href="../css/combinedTourneyHome.min.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">Home</a>
                <span class="navDivider">|</span>
                <a href="blog.html">Blog</a>
                <span class="navDivider">|</span>
                <a href="runningLog.html">Running</a>
                <span class="navDivider">|</span>
                <a href="animeHome.html">Anime</a>
                <span class="navDivider">|</span>
                <a href="pokemonHome.html">Pokemon Stats</a>
                <span class="navDivider">|</span>
                <a href="fifa.html">Fifa</a>
                <span class="navDivider">|</span>
                <a href="tourneyHome.html">Tournament</a>
            </nav>
        </header>
        
        <main ng-app="tournamentModule" ng-controller="tournamentController as tourney">
            <div id="tourneySchedule">
                <div id="matchdayList">
                    <div ng-repeat="matchday in tourney.tournament.schedule">
                        <span class="matchdayHeader">Matchday {{$index + 1}}</span>
                        <div class="matchListElement" ng-repeat="game in matchday">
                            <div class="matchInfo">
                                <span class="teamName">{{game.home}}</span>
                            </div>
                            <div class="matchInfo">
                                <span class="teamName">{{game.away}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <script src="../js/combinedTourneyHome.min.js"></script>
    </body>
</html>