<!doctype html>
<html>

    <head>
        <title>Pokemon Stats</title>
        <!-- build:css ../css/combinedPokemonHome.min.css -->
        <link rel="stylesheet" href="../css/style.css">
        <!-- endbuild -->
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html">Home</a>
                <span class="navDivider">|</span>
                <a href="blog.html">Blog</a>
                <span class="navDivider">|</span>
                <a href="runningLog.html">Running</a>
                <span class="navDivider">|</span>
                <a href="animeHome.html">Anime</a>
                <span class="navDivider">|</span>
                <a href="pokemonHome.html">Pokemon Stats</a>
                <span class="navDivider">|</span>
                <a href="fifa.html">Fifa</a>
            </nav>
        </header>
        <main ng-app="pokemonApp" ng-controller="DisplayController">
            <ng-include src="currentPage"></ng-include>
            <!-- build:js ../js/combinedPokemonHome.min.js -->
            <script src="../js/authentication.js"></script>
            <script src="/thirdParty/angular.min.js"></script>
            <script src="../js/controller.js"></script>
            <script src="../js/displayService.js"></script>
            <!-- endbuild -->
        </main>
    </body>
</html>